* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.gutters {
  margin: 0 auto;
  width: 60%;
  max-width: 1000px;
}

section {
  width: 66vw;
  margin: 50px auto;
}
section .center {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .center .photo {
  width: 48%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
section .center .photo1 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.25), rgba(255, 218, 185, 0.25)), url("../images/0W5A3893.jpg");
}
section .center .photo2 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.25), rgba(255, 218, 185, 0.25)), url("../images/2B1A9941.jpg");
}
section .center .photo3 {
  background-position: 100% 20%;
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.25), rgba(255, 218, 185, 0.25)), url("../images/0W5A4467.jpg");
}
section .center p {
  width: 48%;
  color: saddlebrown;
  margin-right: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section h1 {
  margin: 0 25px 25px;
  color: saddlebrown;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
nav .gutters a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
}
nav .gutters a:hover {
  color: rgb(224, 155, 98);
  font-weight: bold;
}
nav .gutters #active {
  color: rgb(224, 98, 115);
  font-weight: bold;
}

.photos .displayCase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 45px;
}
.photos .displayCase .photoCard {
  width: 225px;
  height: 275px;
  border-radius: 30px;
  background-color: burlywood;
  margin: 0 15px 45px;
}
.photos .displayCase .photoCard .detail {
  height: 100%;
  width: 100%;
  background-color: rgba(139, 69, 19, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photos .displayCase .photoCard .detail span {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.photos .displayCase .photoCard .detail :nth-child(2) {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.photos .displayCase .photoCard.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photos .displayCase .photoCard.photo1 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/0W5A4604.jpg");
}
.photos .displayCase .photoCard.photo2 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/0W5A3925.jpg");
}
.photos .displayCase .photoCard.photo3 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/0W5A4467.jpg");
}
.photos .displayCase .photoCard.photo4 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A0277.jpg");
}
.photos .displayCase .photoCard.photo5 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A0517.jpg");
}
.photos .displayCase .photoCard.photo6 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A0529.jpg");
}
.photos .displayCase .photoCard.photo7 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A0532.jpg");
}
.photos .displayCase .photoCard.photo8 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A0593.jpg");
}
.photos .displayCase .photoCard.photo9 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A9128.jpg");
}
.photos .displayCase .photoCard.photo10 {
  background-image: linear-gradient(45deg, rgba(255, 218, 185, 0.5), rgba(255, 218, 185, 0.5)), url("../images/2B1A9167.jpg");
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form .row {
  width: 100%;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact form .row input,
.contact form .row textarea {
  width: 30%;
  border: solid 3px lightcoral;
  border-radius: 5px;
}
.contact form .row input {
  padding: 8px 12px;
}
.contact form .row .msg {
  align-self: baseline;
}
.contact form .row textarea {
  padding: 30px 12px;
}
.contact form .row label {
  font-size: 18px;
  margin-right: 30px;
  width: 10%;
  color: saddlebrown;
  align-self: center;
}
.contact form input[type=submit] {
  margin-top: 30px;
  background-color: lightcoral;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
}
.contact form input[type=submit]:hover {
  background-color: rgb(179, 93, 93);
}

.banner .hero {
  padding: 30px;
  width: 100%;
  height: 120px;
  background-position: 220px -100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 70%;
  position: relative;
  border-radius: 15px;
}
.banner .hero.hero1 {
  background-image: linear-gradient(45deg, rgba(224, 98, 115, 0.45), rgba(224, 155, 98, 0.65)), url("../images/0W5A3893.jpg");
}
.banner .hero h1 {
  font-size: 75px;
  color: antiquewhite;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(4px 4px 8px rgb(224, 98, 115));
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: #e06273;
  height: 150px;
  width: 100%;
  margin-top: 125px;
}
footer .gutters {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .gutters .socials i {
  color: #fff;
  margin-top: 8px;
  margin-right: 15px;
}
footer .gutters p {
  color: #fff;
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */
